<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
   <!--Header-->
   <%- include('../partials/header') %>
<body>
 
<!--<section class="main-image">
    <div style="text-align: center;">
   <img src="/Assets/blue-cup.jpg" alt="Mr Coffe">
</div>
</section>-->



<section>
  <div class="H_Title">
    <h1>SCHEDULE INFORMATION</h1>
  </div>
</section>
  <section>
    <section>
    <div>
    <table class= "table_H">
      <tr>
        <th>User Name</th>
        <th>Day</th>
        <th>Start_At</th>
        <th>End_At</th>
      </tr>
      <% for (let i=0; i < schedules.length; i++) {%>
      <tr>
        <td><%= schedules[i].username %></td>
        <td><%= schedules[i].day %></td>
        <td> <%= schedules[i].start_at %> </td>
        <td> <%= schedules[i].end_at %></td>
      </tr>
      <%}%>
     
    </table>
  </div>
  </section>
  <section>
    <div class ="text-box">
     <h1><span>WELCOME</span>
         <span>TO</span>
         <span>OUR</span> 
         <span>SCHEDULE</span>
         <span>SITE</span> </h1>
   </div>
   </section>
  <section>
  <div class="new-links">
    <a href="/new"><b>Please visit here to Add a new Schedule</b></a>
   </div>
  </section>
  </body>
 
      <!--Footer-->
      <%- include('../partials/footer') %>
</body>

</html>